.mdc-top-app-bar .menu{
    list-style: none;
    margin: 0;
    display: flex;
    padding: 0;
}
.mdc-top-app-bar .menu li{
    display: flex;
    margin-right: 5px;
    margin-left: 5px;
    height: 64px;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
    cursor: pointer;
    color: black;
}
.mdc-top-app-bar .menu li.active{
    box-shadow: inset 0 -3px 0 0 #6200ee;
    color: #6200ee;
    font-weight: bold;
}

.mdc-top-app-bar .menu li.active img{
    height: 26px;
    width: 26px;
}

.mdc-top-app-bar .menu li img{
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 5px;
}

.contenido{
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
}

.box{
    background: white;
    border-radius: 5px;
    margin: 20px;
}

.separador{
    width: 100%;
    height: 1px;
    background: rgb(230, 236, 240);
    margin-top: 16px;
    margin-bottom: 16px;
}
.buscar{
    width: 100%;
    border-radius: 50px;
    border: 1px solid #bfbfbf;
    padding: 8px 24px;
    font-size: 16px;
}
.buscar:focus{
    border: 2px solid var(--mdc-theme-secondary);
}
.buscar:hover:not(:focus){
    border: 1px solid #787878;
}