#entrar{
    background: url(../../img/login.jpg) no-repeat;
    height: 100vh;
    max-height: 100vh;
    position: relative;
    background-position: top right;
    background-attachment: fixed;
    background-size: cover;
}

#entrar .form{
    max-width: 400px;
    width: 100%;
    position: relative;
}

#entrar .logo{
    top: 0px;
    left: 50px;
    position: absolute;
    color: white;
}

#entrar .icono{
    width: 100px;
}

#entrar .logo .nombre{
    max-width: 450px;
    width: 100%;
}
/*#2a0560*/
#entrar .form p{
    font-size: 20px;
    color: white;
    text-align: center;
    margin-bottom: 24px;
}

#entrar .form input{
    padding: 16px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    color:rgba(0, 0, 0, 0.75);
    display: block;
    width: 85%;

}

#entrar .form input:first-of-type{
    position: relative;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid #eee;
    z-index: 1;
}
#entrar .form input:last-of-type{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0px 10px 30px 0px rgba(36,48,54,0.2);
    margin-bottom: 20px;
}

#entrar .form button.btn{
    background: #243036;
    padding: 8px 16px;
    text-decoration: none;
    color: white;
    border-radius:5px;
    position: absolute;
    top: 40%;
    z-index: 2;
    right: 0;
    border: none;
    cursor: pointer;
    box-shadow: 0px 10px 30px 0px rgba(36,48,54,0.5);
}

#entrar .form button.link{
    display: block;
    line-height: 30px;
    text-decoration: none;
    color: white;
    text-align: center;
    background: transparent;
    border:none;
    width: calc(100% - 48px);
    text-align: center;
}

#entrar .version{
    position: absolute;
    bottom: 50px;
    right: 50px;
    text-align: right;
    color: white;
    font-weight: 700;
    font-size: 18px;
}

#entrar .autor{
    font-size: 16px;
    font-weight: bold;
    color: white;
    bottom: 10px;
    right: 50px;
    position: absolute;
}

#entrar .form img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 25px;
}
