@font-face {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: local('Google Sans Regular'), local('GoogleSans-Regular'), url(../fonts/sans/4UaGrENHsxJlGDuGo1OIlL3Kwp5MKg.woff2) format('font-woff');
    src: local('Google Sans Regular'), local('GoogleSans-Regular'), url(../fonts/sans/4UaGrENHsxJlGDuGo1OIlL3Kwp5MKg.woff2) format('woff');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: local('Google Sans Regular'), local('GoogleSans-Regular'), url(../fonts/sans/4UaGrENHsxJlGDuGo1OIlL3Kwp5MKg.woff2) format('font-woff');
    src: local('Google Sans Regular'), local('GoogleSans-Regular'), url(../fonts/sans/4UaGrENHsxJlGDuGo1OIlL3Kwp5MKg.woff2) format('woff');
    unicode-range: U+0370-03FF;
}

@font-face {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: local('Google Sans Regular'), local('GoogleSans-Regular'), url(../fonts/sans/4UaGrENHsxJlGDuGo1OIlL3Awp5MKg.woff2)format('font-woff');
    src: local('Google Sans Regular'), local('GoogleSans-Regular'), url(../fonts/sans/4UaGrENHsxJlGDuGo1OIlL3Awp5MKg.woff2)format('woff');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: local('Google Sans Regular'), local('GoogleSans-Regular'), url(../fonts/sans/4UaGrENHsxJlGDuGo1OIlL3Owp4.woff2)format('font-woff');
    src: local('Google Sans Regular'), local('GoogleSans-Regular'), url(../fonts/sans/4UaGrENHsxJlGDuGo1OIlL3Owp4.woff2)format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 500;
    font-display: auto;
    src: local('Google Sans Medium'), local('GoogleSans-Medium'), url(../fonts/sans/4UabrENHsxJlGDuGo1OIlLU94Yt3CwZ-Pw.woff2) format('font-woff');
    src: local('Google Sans Medium'), local('GoogleSans-Medium'), url(../fonts/sans/4UabrENHsxJlGDuGo1OIlLU94Yt3CwZ-Pw.woff2) format('woff');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 500;
    font-display: auto;
    src: local('Google Sans Medium'), local('GoogleSans-Medium'), url(../fonts/sans/4UabrENHsxJlGDuGo1OIlLU94YtwCwZ-Pw.woff2)format('font-woff');
    src: local('Google Sans Medium'), local('GoogleSans-Medium'), url(../fonts/sans/4UabrENHsxJlGDuGo1OIlLU94YtwCwZ-Pw.woff2)format('woff');
    unicode-range: U+0370-03FF;
}

@font-face {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 500;
    font-display: auto;
    src: local('Google Sans Medium'), local('GoogleSans-Medium'), url(../fonts/sans/4UabrENHsxJlGDuGo1OIlLU94Yt9CwZ-Pw.woff2)format('font-woff');
    src: local('Google Sans Medium'), local('GoogleSans-Medium'), url(../fonts/sans/4UabrENHsxJlGDuGo1OIlLU94Yt9CwZ-Pw.woff2)format('woff');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 500;
    font-display: auto;
    src: local('Google Sans Medium'), local('GoogleSans-Medium'), url(../fonts/sans/4UabrENHsxJlGDuGo1OIlLU94YtzCwY.woff2)format('font-woff');
    src: local('Google Sans Medium'), local('GoogleSans-Medium'), url(../fonts/sans/4UabrENHsxJlGDuGo1OIlLU94YtzCwY.woff2)format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 700;
    font-display: auto;
    src: local('Google Sans Bold'), local('GoogleSans-Bold'), url(../fonts/sans/GoogleSans-Bold.woff2)format('font-woff');
    src: local('Google Sans Bold'), local('GoogleSans-Bold'), url(../fonts/sans/GoogleSans-Bold.woff2)format('woff');
}


body, html {
    margin: 0;
    font-family: 'Google Sans', arial, sans-serif;
    scroll-behavior: smooth;
    color:black;
    height: 100%;
}

*:focus {
    outline: none;
}

*{
    font-family: 'Google Sans', arial, sans-serif;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
main {
    display: block;
}
a {
    background-color: transparent;
}

@-ms-viewport {
    width: device-width;
}
  
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b, strong {
    font-weight: bolder;
}

code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button, input, optgroup, select, textarea {
    margin: 0;
}

button, input {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"], [type="radio"] {
    box-sizing: border-box;
    padding: 0;
}


[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

* {
    box-sizing: border-box;
}

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    max-width: 359px;
    padding: 16px;
}

.container-full {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    padding: 16px;
}

.row,
.column,
.flex {
	display: flex;
	flex-wrap: wrap;
}

.flex-row{
    flex-direction: row;
}

.row.inline,
.column.inline,
.flex.inline {
	display: inline-flex;
}

.row.reverse {
	flex-direction: row-reverse;
}

.column {
	flex-direction: column;
}

.column.reverse {
	flex-direction: column-reverse;
}

.wrap {
	flex-wrap: wrap;
}

.no-wrap {
	flex-wrap: nowrap;
}

.reverse-wrap {
	flex-wrap: wrap-reverse;
}

.order-first {
	order: -10000;
}

.order-last {
	order: 10000;
}

.order-none {
	order: 0;
}

.justify-start {
	justify-content: flex-start;
}

.justify-end {
	justify-content: flex-end;
}

.justify-center,
.flex-center {
	justify-content: center;
}

.justify-between {
	justify-content: space-between;
}

.justify-around {
	justify-content: space-around;
}

.items-start {
	align-items: flex-start;
}

.items-end {
	align-items: flex-end;
}

.items-center,
.flex-center {
	align-items: center;
}

.items-baseline {
	align-items: baseline;
}

.items-stretch {
	align-items: stretch;
}

.content-start {
	align-content: flex-start;
}

.content-end {
	align-content: flex-end;
}

.content-center {
	align-content: center;
}

.content-stretch {
	align-content: stretch;
}

.content-between {
	align-content: space-between;
}

.content-around {
	align-content: space-around;
}

.self-start {
	align-self: flex-start;
}

.self-end {
	align-self: flex-end;
}

.self-center {
	align-self: center;
}

.self-baseline {
	align-self: baseline;
}

.self-stretch {
	align-self: stretch;
}

.gutter-x-none,
.gutter-none {
	margin-left: 0;
}

.gutter-x-none > div,
.gutter-none > div {
	padding-left: 0;
}

.gutter-y-none,
.gutter-none {
	margin-top: 0;
}

.gutter-y-none > div,
.gutter-none > div {
	padding-top: 0;
}

.gutter-x-xs,
.gutter-xs {
	margin-left: -8px;
}

.gutter-x-xs > div,
.gutter-xs > div {
	padding-left: 8px;
}

.gutter-y-xs,
.gutter-xs {
	margin-top: -8px;
}

.gutter-y-xs > div,
.gutter-xs > div {
	padding-top: 8px;
}

.gutter-x-sm,
.gutter-sm {
	margin-left: -16px;
}

.gutter-x-sm > div,
.gutter-sm > div {
	padding-left: 16px;
}

.gutter-y-sm,
.gutter-sm {
	margin-top: -16px;
}

.gutter-y-sm > div,
.gutter-sm > div {
	padding-top: 16px;
}

.gutter-x-md,
.gutter-md {
	margin-left: -32px;
}

.gutter-x-md > div,
.gutter-md > div {
	padding-left: 32px;
}

.gutter-y-md,
.gutter-md {
	margin-top: -32px;
}

.gutter-y-md > div,
.gutter-md > div {
	padding-top: 32px;
}

.gutter-x-lg,
.gutter-lg {
	margin-left: -48px;
}

.gutter-x-lg > div,
.gutter-lg > div {
	padding-left: 48px;
}

.gutter-y-lg,
.gutter-lg {
	margin-top: -48px;
}

.gutter-y-lg > div,
.gutter-lg > div {
	padding-top: 48px;
}

.gutter-x-xl,
.gutter-xl {
	margin-left: -64px;
}

.gutter-x-xl > div,
.gutter-xl > div {
	padding-left: 64px;
}

.gutter-y-xl,
.gutter-xl {
	margin-top: -64px;
}

.gutter-y-xl > div,
.gutter-xl > div {
	padding-top: 64px;
}

.round-borders {
	border-radius: 3px !important;
}

.no-borders{
    border: none!important;
}

.generic-margin,
.group > * {
	margin: 5px;
}

.no-transition {
	transition: none !important;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.relative-position {
	position: relative;
}

.fixed,
.fullscreen,
.fixed-center,
.fixed-bottom,
.fixed-left,
.fixed-right,
.fixed-top,
.fixed-top-left,
.fixed-top-right,
.fixed-bottom-left,
.fixed-bottom-right {
	position: fixed;
}

.absolute,
.absolute-full,
.absolute-center,
.absolute-bottom,
.absolute-left,
.absolute-right,
.absolute-top,
.absolute-top-left,
.absolute-top-right,
.absolute-bottom-left,
.absolute-bottom-right {
	position: absolute;
}

.fixed-top,
.absolute-top {
	top: 0;
	left: 0;
	right: 0;
}

.fixed-right,
.absolute-right {
	top: 0;
	right: 0;
	bottom: 0;
}

.fixed-bottom,
.absolute-bottom {
	right: 0;
	bottom: 0;
	left: 0;
}

.fixed-left,
.absolute-left {
	top: 0;
	bottom: 0;
	left: 0;
}

.fixed-top-left,
.absolute-top-left {
	top: 0;
	left: 0;
}

.fixed-top-right,
.absolute-top-right {
	top: 0;
	right: 0;
}

.fixed-bottom-left,
.absolute-bottom-left {
	bottom: 0;
	left: 0;
}

.fixed-bottom-right,
.absolute-bottom-right {
	bottom: 0;
	right: 0;
}

.fullscreen {
	z-index: 6000;
	border-radius: 0 !important;
	max-width: 100vw;
	max-height: 100vh;
}

.absolute-full,
.fullscreen {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.fixed-center,
.absolute-center {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.vertical-top {
	vertical-align: top !important;
}

.vertical-middle {
	vertical-align: middle !important;
}

.vertical-bottom {
	vertical-align: bottom !important;
}

.on-left {
	margin-right: 12px;
}

.on-right {
	margin-left: 12px;
}

.fit {
	width: 100% !important;
	height: 100% !important;
}

.full-height {
	height: 100% !important;
}

.full-width {
	width: 100% !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.window-height {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	height: 100vh !important;
}

.window-width {
	margin-left: 0 !important;
	margin-right: 0 !important;
	width: 100vw !important;
}

.block {
	display: block !important;
}

.inline-block {
	display: inline-block !important;
}

.pa-none {
	padding: 0 0;
}

.no-margin{
    margin: 0px!important;
}

.pl-none,
.px-none {
	padding-left: 0;
}

.pr-none,
.px-none {
	padding-right: 0;
}

.pt-none,
.py-none {
	padding-top: 0;
}

.pb-none,
.py-none {
	padding-bottom: 0;
}

.ma-none {
	margin: 0 0;
}

.ml-none,
.mx-none {
	margin-left: 0;
}

.mr-none,
.mx-none {
	margin-right: 0;
}

.mt-none,
.my-none {
	margin-top: 0;
}

.mb-none,
.my-none {
	margin-bottom: 0;
}

.pa-xs {
	padding: 4px 4px;
}

.pl-xs,
.px-xs {
	padding-left: 4px;
}

.pr-xs,
.px-xs {
	padding-right: 4px;
}

.pt-xs,
.py-xs {
	padding-top: 4px;
}

.pb-xs,
.py-xs {
	padding-bottom: 4px;
}

.ma-xs {
	margin: 4px 4px;
}

.ml-xs,
.mx-xs {
	margin-left: 4px;
}

.mr-xs,
.mx-xs {
	margin-right: 4px;
}

.mt-xs,
.my-xs {
	margin-top: 4px;
}

.mb-xs,
.my-xs {
	margin-bottom: 4px;
}

.pa-sm {
	padding: 8px 8px;
}

.pl-sm,
.px-sm {
	padding-left: 8px;
}

.pr-sm,
.px-sm {
	padding-right: 8px;
}

.pt-sm,
.py-sm {
	padding-top: 8px;
}

.pb-sm,
.py-sm {
	padding-bottom: 8px;
}

.ma-sm {
	margin: 8px 8px;
}

.ml-sm,
.mx-sm {
	margin-left: 8px;
}

.mr-sm,
.mx-sm {
	margin-right: 8px;
}

.mt-sm,
.my-sm {
	margin-top: 8px;
}

.mb-sm,
.my-sm {
	margin-bottom: 8px;
}

.pa-md {
	padding: 16px 16px;
}

.pl-md,
.px-md {
	padding-left: 16px;
}

.pr-md,
.px-md {
	padding-right: 16px;
}

.pt-md,
.py-md {
	padding-top: 16px;
}

.pb-md,
.py-md {
	padding-bottom: 16px;
}

.ma-md {
	margin: 16px 16px;
}

.ml-md,
.mx-md {
	margin-left: 16px;
}

.mr-md,
.mx-md {
	margin-right: 16px;
}

.mt-md,
.my-md {
	margin-top: 16px;
}

.mb-md,
.my-md {
	margin-bottom: 16px;
}

.pa-lg {
	padding: 24px 24px;
}

.pl-lg,
.px-lg {
	padding-left: 24px;
}

.pr-lg,
.px-lg {
	padding-right: 24px;
}

.pt-lg,
.py-lg {
	padding-top: 24px;
}

.pb-lg,
.py-lg {
	padding-bottom: 24px;
}

.ma-lg {
	margin: 24px 24px;
}

.ml-lg,
.mx-lg {
	margin-left: 24px;
}

.mr-lg,
.mx-lg {
	margin-right: 24px;
}

.mt-lg,
.my-lg {
	margin-top: 24px;
}

.mb-lg,
.my-lg {
	margin-bottom: 24px;
}

.pa-xl {
	padding: 48px 48px;
}

.pl-xl,
.px-xl {
	padding-left: 48px;
}

.pr-xl,
.px-xl {
	padding-right: 48px;
}

.pt-xl,
.py-xl {
	padding-top: 48px;
}

.pb-xl,
.py-xl {
	padding-bottom: 48px;
}

.ma-xl {
	margin: 48px 48px;
}

.ml-xl,
.mx-xl {
	margin-left: 48px;
}

.mr-xl,
.mx-xl {
	margin-right: 48px;
}

.mt-xl,
.my-xl {
	margin-top: 48px;
}

.mb-xl,
.my-xl {
	margin-bottom: 48px;
}

.ml-auto,
.mx-auto {
	margin-left: auto;
}

.mr-auto,
.mx-auto {
	margin-right: auto;
}

.my-form {
	margin-top: 16px;
	margin-bottom: 8px;
}

@media (min-width:576px){
    .container{max-width:540px}
}
@media (min-width:768px){
    .container{max-width:720px}
}@media (min-width:992px){
    .container{max-width:960px}
}
@media (min-width:1200px){
    .container{max-width:1170px}
}

@media(min-width:720px) {
    .container, .container-full{
        padding: 24px;
    }
}

@media(min-width:360px) and (max-width:399px) {
    .container-fluid {
        max-width: 399px;
    }
}

@media(min-width:400px) and (max-width:479px) {
    .container-fluid {
        max-width: 479px;
    }
}

@media(min-width:480px) and (max-width:599px) {
    .container-fluid {
        max-width: 599px;
    }
}

@media(min-width:600px) and (max-width:719px) {
    .container-fluid {
        max-width: 719px;
    }
}

@media(min-width:720px) and (max-width:839px) {
    .container-fluid {
        max-width: 839px;
    }
}

@media(min-width:840px) and (max-width:959px) {
    .container-fluid {
        max-width: 959px;
    }
}

@media(min-width:960px) and (max-width:1023px) {
    .container-fluid {
        max-width: 1023px;
    }
}

@media(min-width:1024px) and (max-width:1279px) {
    .container-fluid {
        max-width: 1279px;
    }
}

@media(min-width:1280px) and (max-width:1439px) {
    .container-fluid {
        max-width: 1439px;
    }
}

@media(min-width:1440px) and (max-width:1599px) {
    .container-fluid {
        max-width: 1599px;
    }
}

@media(min-width:1600px) and (max-width:1919px) {
    .container-fluid {
        max-width: 1919px;
    }
}

@media(min-width:1920px) {
    .container-fluid {
        max-width: 1920px;
    }
}

@media(min-width:1920px) {
    .row > .col-xl-1 {max-width: 8.33333%;flex: 0 0 8.33333%}
    .row > .col-xl-2 {max-width: 16.66667%;flex: 0 0 16.66667%;}
    .row > .col-xl-3 {max-width: 25%;flex: 0 0 25%;}
    .row > .col-xl-4 {max-width: 33.33333%;flex: 0 0 33.33333%;}
    .row > .col-xl-5 {max-width: 41.66667%;flex: 0 0 41.66667%;}
    .row > .col-xl-6 {max-width: 50% ;flex: 0 0 50%;}
    .row > .col-xl-7 {max-width: 58.33333%;flex: 0 0 58.33333%;}
    .row > .col-xl-8 {max-width: 66.66667%;flex: 0 0 66.66667%;}
    .row > .col-xl-9 {max-width: 75%;flex: 0 0 75%;}
    .row > .col-xl-10 {max-width: 83.33333%;flex: 0 0 83.33333%;}
    .row > .col-xl-11 {max-width: 91.66667%;flex: 0 0 91.66667%;}
    .row > .col-xl-12 {max-width: 100%;flex: 0 0 100%;}

    .row > .col-xl-offset-2{margin-left: 16.66667%}
    .row > .col-xl-offset-4{margin-left: 33.33333%}

    .column > .col-xl-1{height: 8.33333%;width: auto;}
    .column > .col-xl-2{height: 16.66667%;width: auto;}
    .column > .col-xl-3{height: 25%;width: auto;}
    .column > .col-xl-4{height: 33.33333%;width: auto;}
    .column > .col-xl-5{height: 41.66667%;width: auto;}
    .column > .col-xl-6{height: 50%;width: auto;}
    .column > .col-xl-7{height: 58.33333%;width: auto;}
    .column > .col-xl-8{height: 66.66667%;width: auto;}
    .column > .col-xl-9{height: 75%;width: auto;}
    .column > .col-xl-10{height: 83.33333%;width: auto;}
    .column > .col-xl-11{height: 91.66667%;width: auto;}
    .column > .col-xl-12{height: 100%;width: auto;}
}

@media(min-width:1440px) and (max-width:1919px) {
    .row > .col-lg-1 {max-width: 8.33333%;flex: 0 0 8.33333%}
    .row > .col-lg-2 {max-width: 16.66667%;flex: 0 0 16.66667%;}
    .row > .col-lg-3 {max-width: 25%;flex: 0 0 25%;}
    .row > .col-lg-4 {max-width: 33.33333%;flex: 0 0 33.33333%;}
    .row > .col-lg-5 {max-width: 41.66667%;flex: 0 0 41.66667%;}
    .row > .col-lg-6 {max-width: 50% ;flex: 0 0 50%;}
    .row > .col-lg-7 {max-width: 58.33333%;flex: 0 0 58.33333%;}
    .row > .col-lg-8 {max-width: 66.66667%;flex: 0 0 66.66667%;}
    .row > .col-lg-9 {max-width: 75%;flex: 0 0 75%;}
    .row > .col-lg-10 {max-width: 83.33333%;flex: 0 0 83.33333%;}
    .row > .col-lg-11 {max-width: 91.66667%;flex: 0 0 91.66667%;}
    .row > .col-lg-12 {max-width: 100%;flex: 0 0 100%;}

    .row > .col-lg-offset-2{margin-left: 16.66667%}
    .row > .col-lg-offset-4{margin-left: 33.33333%}

    .column > .col-lg-1{height: 8.33333%;width: auto;}
    .column > .col-lg-2{height: 16.66667%;width: auto;}
    .column > .col-lg-3{height: 25%;width: auto;}
    .column > .col-lg-4{height: 33.33333%;width: auto;}
    .column > .col-lg-5{height: 41.66667%;width: auto;}
    .column > .col-lg-6{height: 50%;width: auto;}
    .column > .col-lg-7{height: 58.33333%;width: auto;}
    .column > .col-lg-8{height: 66.66667%;width: auto;}
    .column > .col-lg-9{height: 75%;width: auto;}
    .column > .col-lg-10{height: 83.33333%;width: auto;}
    .column > .col-lg-11{height: 91.66667%;width: auto;}
    .column > .col-lg-12{height: 100%;width: auto;}
}

@media(min-width:1024px) and (max-width:1439px) {
    .row > .col-md-1 {max-width: 8.33333%;flex: 0 0 8.33333%}
    .row > .col-md-2 {max-width: 16.66667%;flex: 0 0 16.66667%;}
    .row > .col-md-3 {max-width: 25%;flex: 0 0 25%;}
    .row > .col-md-4 {max-width: 33.33333%;flex: 0 0 33.33333%;}
    .row > .col-md-5 {max-width: 41.66667%;flex: 0 0 41.66667%;}
    .row > .col-md-6 {max-width: 50% ;flex: 0 0 50%;}
    .row > .col-md-7 {max-width: 58.33333%;flex: 0 0 58.33333%;}
    .row > .col-md-8 {max-width: 66.66667%;flex: 0 0 66.66667%;}
    .row > .col-md-9 {max-width: 75%;flex: 0 0 75%;}
    .row > .col-md-10 {max-width: 83.33333%;flex: 0 0 83.33333%;}
    .row > .col-md-11 {max-width: 91.66667%;flex: 0 0 91.66667%;}
    .row > .col-md-12 {max-width: 100%;flex: 0 0 100%;}

    .row > .col-md-offset-3{margin-left: 25%}
    .row > .col-md-offset-4{margin-left: 33.33333%}

    .column > .col-md-1{height: 8.33333%;width: auto;}
    .column > .col-md-2{height: 16.66667%;width: auto;}
    .column > .col-md-3{height: 25%;width: auto;}
    .column > .col-md-4{height: 33.33333%;width: auto;}
    .column > .col-md-5{height: 41.66667%;width: auto;}
    .column > .col-md-6{height: 50%;width: auto;}
    .column > .col-md-7{height: 58.33333%;width: auto;}
    .column > .col-md-8{height: 66.66667%;width: auto;}
    .column > .col-md-9{height: 75%;width: auto;}
    .column > .col-md-10{height: 83.33333%;width: auto;}
    .column > .col-md-11{height: 91.66667%;width: auto;}
    .column > .col-md-12{height: 100%;width: auto;}
}

@media(min-width:840px) and (max-width:1023px) {
    .row > .col-sm-h-1 {max-width: 8.33333%;flex: 0 0 8.33333%}
    .row > .col-sm-h-2 {max-width: 16.66667%;flex: 0 0 16.66667%;}
    .row > .col-sm-h-3 {max-width: 25%;flex: 0 0 25%;}
    .row > .col-sm-h-4 {max-width: 33.33333%;flex: 0 0 33.33333%;}
    .row > .col-sm-h-5 {max-width: 41.66667%;flex: 0 0 41.66667%;}
    .row > .col-sm-h-6 {max-width: 50% ;flex: 0 0 50%;}
    .row > .col-sm-h-7 {max-width: 58.33333%;flex: 0 0 58.33333%;}
    .row > .col-sm-h-8 {max-width: 66.66667%;flex: 0 0 66.66667%;}
    .row > .col-sm-h-9 {max-width: 75%;flex: 0 0 75%;}
    .row > .col-sm-h-10 {max-width: 83.33333%;flex: 0 0 83.33333%;}
    .row > .col-sm-h-11 {max-width: 91.66667%;flex: 0 0 91.66667%;}
    .row > .col-sm-h-12 {max-width: 100%;flex: 0 0 100%;}

    .column > .col-sm-h-1{height: 8.33333%;width: auto;}
    .column > .col-sm-h-2{height: 16.66667%;width: auto;}
    .column > .col-sm-h-3{height: 25%;width: auto;}
    .column > .col-sm-h-4{height: 33.33333%;width: auto;}
    .column > .col-sm-h-5{height: 41.66667%;width: auto;}
    .column > .col-sm-h-6{height: 50%;width: auto;}
    .column > .col-sm-h-7{height: 58.33333%;width: auto;}
    .column > .col-sm-h-8{height: 66.66667%;width: auto;}
    .column > .col-sm-h-9{height: 75%;width: auto;}
    .column > .col-sm-h-10{height: 83.33333%;width: auto;}
    .column > .col-sm-h-11{height: 91.66667%;width: auto;}
    .column > .col-sm-h-12{height: 100%;width: auto;}
}

@media(min-width:600px) and (max-width:839px) {
    .row > .col-sm-1 {max-width: 12.5%;flex: 0 0 12.5%;}
    .row > .col-sm-2 {max-width: 25%;flex: 0 0 25%;}
    .row > .col-sm-3 {max-width: 37.5%;flex: 0 0 37.5%;}
    .row > .col-sm-4 {max-width: 50%;flex: 0 0 50%;}
    .row > .col-sm-5 {max-width: 62.5%;flex: 0 0 62.5%;}
    .row > .col-sm-6 {max-width: 75%;flex: 0 0 75%;}
    .row > .col-sm-7 {max-width: 87.5%;flex: 0 0 87.5%;}
    .row > .col-sm-8 {max-width: 100%;flex: 0 0 100%;}

    .column > .col-sm-1 {height: 12.5%; width: auto;}
    .column > .col-sm-2 {height: 25%; width: auto;}
    .column > .col-sm-3 {height: 37.5%; width: auto;}
    .column > .col-sm-4 {height: 50%; width: auto;}
    .column > .col-sm-5 {height: 62.5%; width: auto;}
    .column > .col-sm-6 {height: 75%; width: auto;}
    .column > .col-sm-7 {height: 87.5%; width: auto;}
    .column > .col-sm-8 {height: 100%; width: auto;;}
}

@media(max-width:599px){
    .row > .col-xs-1 {max-width: 25%;flex: 0 0 25%;}
    .row > .col-xs-2 {max-width: 50%;flex: 0 0 50%;}
    .row > .col-xs-3 {max-width: 75%;flex: 0 0 75%;}
    .row > .col-xs-4 {max-width: 100%;flex: 0 0 100%;}

    .column > .col-xs-1 {height: 25%; width: auto;}
    .column > .col-xs-2 {height: 50%; width: auto;}
    .column > .col-xs-3 {height: 75%; width: auto;}
    .column > .col-xs-4 {height: 100%; width: auto;}
}
h1 {
    font-size: 6rem;
    letter-spacing: -0.01875rem;
    font-weight: 300;
}

h2 {
    font-size: 3.75rem;
    letter-spacing: -0.00625rem;
    font-weight: 300;
    font-family: 'Google Sans', arial, sans-serif;
}

h3 {
    font-size: 3rem;
    letter-spacing: 0rem;
    font-weight: 400;
    font-family: 'Google Sans', arial, sans-serif;
}

h4 {
    font-size: 2.125rem;
    letter-spacing: 0.003125rem;
    font-weight: 400;
    font-family: 'Google Sans', arial, sans-serif;
}

h5 {
    font-size: 1.5rem;
    letter-spacing: 0rem;
    font-weight: 400;
    font-family: 'Google Sans', arial, sans-serif;
}

h6 {
    font-size: 1.25rem;
    letter-spacing: 0.001875rem;
    font-weight: 500;
    font-family: 'Google Sans', arial, sans-serif;
}

p {
	margin: 0 0 16px;
}

body, html {
    font-size: 1rem;
    letter-spacing: 0.00625rem;
    font-weight: 400;
    color: black;
    font-family: 'Google Sans', arial, sans-serif;
}

.caption {
	color: #424242;
	letter-spacing: 0;
	line-height: 24px;
	padding: 0;
	font-weight: 300;
}

.uppercase {
	text-transform: uppercase;
}

.lowercase {
	text-transform: lowercase;
}

.capitalize {
	text-transform: capitalize;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-justify {
	text-align: justify;
	hyphens: auto;
}

.text-italic {
	font-style: italic;
}

.text-bold {
	font-weight: bold;
}

.text-no-wrap {
	white-space: nowrap;
}

.text-weight-thin {
	font-weight: 100;
}

.text-weight-light {
	font-weight: 300;
}

.text-weight-regular {
	font-weight: 400;
}

.text-weight-medium {
	font-weight: 500;
}

.text-weight-bold {
	font-weight: 700;
}

.text-weight-bolder {
	font-weight: 900;
}

small {
	font-size: 80%;
}

big {
	font-size: 170%;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}
.card{
    border-radius:5px;
    background: white;
    box-shadow: 0 1px 5px rgba(0,0,0, .2), 0 2px 2px rgba(0,0,0, .14), 0 3px 1px -2px rgba(0,0,0, .12);
}