/*
#243036
#1e272b
*/
:root{
    --mdc-theme-secondary: #6200ee;
}
.mdc-theme--white{
    background: white;
    color: black;
}

.input-datepicker{
    border-radius: 5px;
    padding: 8px 8px;
    width: 100%;
    border: 1px solid #bfbfbf;
}

.input-datepicker:focus, .input-datepicker:active{
    border: 2px solid var(--mdc-theme-secondary);
}

.input-datepicker:hover:not(:focus){
    border: 1px solid #787878;
}