.datos-basicos{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 20px;
}
.datos-basicos li{
    padding: 2px 0;
}

.foto{
    width: 150px;
    border-radius: 100px;
    height: 150px;
    background-position: center;
    background-size: cover;
}

.react-datepicker__input-container{
    width: 100%;
}

.react-datepicker-wrapper{
    width: 100%;
}